.wallpaper {
  background-image: url('./assets/thumb-1920-816149.jpg');
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
  background-position: 82% 54%;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

.ball {
  display: block;
  margin: 0 auto;
  padding: 3em;
  width: 6em;
}
