.wallpaper {
  background-image: url('./assets/thumb-1920-816149.jpg');
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
  background-position: 48% 54%;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  animation: Appear 700ms ease-out;
  margin-top: 0;
}

.ball {
  display: block;
  margin: 0 auto;
  padding: 3em;
  width: 6em;
  animation: rotation 20s 700ms infinite linear, Appear 700ms ease-out;
}

.player {
  margin: 4em;
  display: flex;
  background-color: #ffffff80;
  flex-wrap: wrap;
  animation: Appear 700ms ease-out;
  transition: transform 0.5s;
}

.player:hover {
  transform: scale(1.05);
}

.country-img {
  width: 4em;
  margin-right: 1em;
}

.player-img {
  width: 7em;
  height: 9em;
}

.h2 {
  display: inline-block;
}

.h3 {
  display: inline-block;
  margin-right: 2em;
}

.h1-player {
  color: black;
  text-align: left;
}

@media (max-width: 812px) {
  .player-img {
    display: block;
    margin: auto;
  }
  .h1-player {
    text-align: center;
  }
  .player {
    text-align: center;
  }
  .stats {
    text-align: center;
    margin-left: 1em;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    transform: scale(1.05);
  }

  100% {
    opacity: 100;
    transform: scale(1);
  }
}
